body{
    margin: 0;
}

#game{
    background: rgb(46,100,186);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*56*/
#status-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}


#status-wrapper > img{
    width: 150px;
    height: 150px;
    filter: drop-shadow(-1px 1px 5px #000);
}

#status{
    color: white;
    text-shadow: 3px 2px 2px black;
    font-size: 100px;
    margin: 0;
}

#dice-wrapper{
    display: flex;
    gap: 75px;
    text-align: center;
}

#dice-wrapper  p {
    color: white;
    font-size: 30px;
}

#dice{
    background: red;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    border-radius: 12px;
}

.dice-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dice-point{
    background-color: white;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}


.invisible{
    visibility: hidden;
}



