body{
    margin: 0;
}

#game{
    background: rgb(46,100,186);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#status-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}


#status-wrapper > img{
    width: 150px;
    height: 150px;
    filter: drop-shadow(-1px 1px 5px #000);
}

#status{
    color: white;
    text-shadow: 3px 2px 2px black;
    font-size: 200px;
    margin: 0;
}



